.hero-section {
  position: relative;
  margin-bottom: 5rem;
  overflow: hidden;
}

/* .img-herosection {
      width: 100%;
      height: 100vh;
  } */

.img-herosection::after {
  content: "";
  width: 100%;
  height: 100%;
  position: relative;
  top: 0;
  left: 0;
  background: #2e2424;
  filter: contrast(1.35) brightness(0.65) opacity(0.5);
}

.img-cover {
  width: 100%;
  height: 90%;
  background-size: cover;
  background-position: center;
  object-fit: cover;
  background: #1f1d1d;
  /* filter: contrast(0.5) brightness(1) opacity(2); */
}
